# Neither the config file or its backup should go
# into the repo.
config/config.inc.php.bak
config/config.inc.php
config.inc.php.dist

# Temporary files or logs
tmp/
logs/
*.log

# Vim swap files
.*swp

# VS Code editor files
*.code-workspace
.vscode/

# Used by pytest
tests/__pycache__/

# Don't include any uploaded images
hackable/uploads/*
